:root {
    --logo-color: #000;
    --mainlogo-color: #2196F3;
    --maincolor-color: #212121;
    --background-color: #2F303A;
    --footeraddres-color:rgba(255, 255, 255, 0.60)
    --toplinenumber-color #757575;
    --sectionbg-color: #F5F4FA;

}

h2 {
    color: var(--maincolor-color);
}

button[type="button"] {
    color: var(--mainlogo-color);
}


[href="./index.html"] {
       color: var(--logo-color);
}

span {
    color: var(--mainlogo-color);
}

a[href="./pages/studio.html"] { 
 color: var(--maincolor-color);
}

a[href="./pages/portfolio.html"] {
    color: var(--maincolor-color);
}

a[href="./pages/contact.html"] {
    color: var(--maincolor-color);
}

a[href="mailto:info@devstudio.com"] {
    color: var(--mainlogo-color);
}
a[href="tel:+380961111111"] {
    color: var(--maincolor-color);
}

